<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>772731269924-2tqvmrhe478j0oblr6imjhepj0pqtui7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.772731269924-2tqvmrhe478j0oblr6imjhepj0pqtui7</string>
	<key>API_KEY</key>
	<string>AIzaSyD_pw1japG_Pij1jrENhd28TKjgppdzDP8</string>
	<key>GCM_SENDER_ID</key>
	<string>772731269924</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.softronel.safra</string>
	<key>PROJECT_ID</key>
	<string>safra-ebe9e</string>
	<key>STORAGE_BUCKET</key>
	<string>safra-ebe9e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:772731269924:ios:7c55f695dea071bec0f9b1</string>
	<key>DATABASE_URL</key>
	<string>https://safra-ebe9e.firebaseio.com</string>
</dict>
</plist>